@import '../../css-config/mixins.scss';
.employee-card{
    border: 1px solid rgba(black, 0.08);
    display: flex;
    padding: 5px 5px;
    &:hover{
        background-color: rgba(black, 0.3);
    }
    .card-content{
        display: flex;
        //flex-direction: row;
     
        //justify-content: flex-start;
        .card-image{
            width: 150px;
            border:2px solid black;
            img{
                width: 100%;
            }
        }
        .card-text {
            //border:1px solid red;
            margin-left: 10px;
            width:600px;
            @include xxl{
                    width:1100px;
            }
            .card-text-inner{
                span{
                  &:nth-child(1){
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: bold;
                   
                  }
                  &:nth-child(2){
                    margin-left: 10px;
                    font-size: 18px;
                    line-height: 1;
                  }
                }
            }

        }
        .btn-container{
            //border: 3px solid green;
            display: flex;
            gap:15px;
            svg {
                cursor: pointer;
                font-size: 25px;
                align-items: flex-end;
                transform: translateY(150%);
                &:nth-child(1){
                    color: red;
                }
                &:nth-child(2){
                    color: blue;
                }
                
            }
            
        }
    }
}